@media screen and (max-width: 600px) {
  .navbar-brand-in-details {
    margin: 25px 25px !important;
    font-size: 25px !important;
  }

  .detailsModalCancelDiv {
    padding: 20px 20px !important;
  }

  .navbar {
    padding: 15px 25px !important;
  }

  .navbar-toggler {
    height: 35px !important;
    width: 35px !important;
    padding: 0px 0px !important;
  }

  .navbar-toggler-icon {
    height: 20px !important;
    width: 20px !important;
  }

  .textDia {
    font-size: 40px !important;
  }

  .brandDescription {
    font-size: 11px !important;
  }

  .hero-wrap {
    height: 550px !important;
  }

  .hero-wrap:after {
    height: 60px !important;
    transform: skewY(-8deg) !important;
  }

  .hero-wrap:before {
    height: 60px !important;
    transform: skewY(8deg) !important;
  }

  .overlay {
    height: 550px !important;
  }

  .backgr {
    height: 100% !important;
    width: 140% !important;
  }

  .stickyTab.nav-link {
    padding: 0.5rem 3% !important;
  }

  .subheading {
    font-size: 18px !important;
  }

  .cardStyle {
    height: 150px !important;
    width: 150px !important;
    margin: 7px !important;
    border-radius: 7px !important;
  }

  .cardStyle.loaded {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.6) !important;
  }

  .cardStyle.loaded:hover {
    transform: translateY(-5px) scale(1.02) !important;
    box-shadow: 0 1rem 1.1rem 0 rgba(0, 0, 0, 0.7) !important;
  }

  .card-image {
    height: 150px !important;
    width: 150px !important;
    border-radius: 7px !important;
  }

  .card-info {
    height: 20px !important;
  }

  .card-info-name {
    font-size: 11px !important;
    padding: 2px 20px 2px !important;
  }

  .card-features-button {
    height: 90px !important;
    width: 90px !important;
    margin: 30px 30px !important;
    padding: 35px 5px !important;
    font-size: 11px !important;
    user-select: none !important;
  }

  .timelineHeader {
    font-size: 18px !important;
  }

  .timelineMatter {
    font-size: 11px !important;
  }

  .timelineInfo {
    font-size: 16px !important;
    user-select: auto !important;
  }

  .footer__col-title {
    font-size: 20px !important;
  }

  .timeliner {
    padding: 20px 0 100px 0 !important;
  }

  .tempImgDiv {
    height: 235px !important;
    width: 220px !important;
  }

  .tempImg {
    height: 220px !important;
    width: 220px !important;
  }
}
