.footer {
  background-color: #000;
  color: #9b9b9b;
  font-size: 12px;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding: 50px 0;
  width: 100%;
  z-index: 1;
  display: block;
  user-select: none;
}

.footer__nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  width: 90%;
}

.shuffled {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.shuffle {
  transition: all 0.5s ease-in-out;
}

.nav {
  display: block;
}

.footer__col {
  float: left;
  line-height: 25px;
  width: 50%;
}

.footer__col--intro {
  border-bottom: 1px solid #272727;
  clear: both;
  margin-bottom: 7px;
  padding-bottom: 5px;
  min-width: 100%;
}

section {
  display: block;
}

.footer__slogan {
  color: #9b9b9b;
  font-size: 12px;
  line-height: 25px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.footer__slogan strong {
  color: #fff;
  font-weight: 400;
}

.footer__col-title {
  color: #fff;
  margin-bottom: 4px;
  margin-top: 35px;
}

.footer__link {
  color: #9b9b9b;
  display: block;
  font-size: 12px;
  transition: color 0.75s ease;
  cursor: pointer;
}

.footer__link:hover {
  color: white;
  text-decoration: underline;
}

.footer__address {
  color: inherit;
  font-size: 1em;
  line-height: 25px;
  margin: 0;
  transition: color 0.75s ease;
}

.footer__address-row {
  display: block;
}

.footer__hide--small {
  display: none;
}

.footer__legal {
  border-top: 1px solid #272727;
  clear: both;
  color: #9b9b9b;
  display: block;
  float: left;
  font-size: 12px;
  line-height: 25px;
  margin-top: 45px;
  padding-top: 43px;
  width: 100%;
}

small {
  font-size: 80%;
}

.footer__nav:after {
  clear: both;
  content: "";
  display: block;
}
